/*sidenav type 1*/
#side_nav{
	width: 100%;
	right: 0 !important;
	left: 0 !important;
	text-align: center;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transition: -webkit-transform .2s ease !important;
	transition: transform .2s ease !important;
	transition: transform .2s ease, -webkit-transform .2s ease !important;
}

#side_nav .logo{
	display: inline-flex;
}

#side_nav #nav_side > *{
	width: var(--sideNavWidth);
	max-width: calc(100vw - var(--sideNavPX) * 2);
	margin-right: auto;
	margin-left: auto;
}

.side-menu-active #side_nav{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}