/*
** Side nav
*/
@media (max-width: 1720px) {
	.side-nav-sticked .container,
	.side-nav-sticked .container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}
}

.side-menu-active .topline{
	z-index: 10;
}

#side_nav{
	position: fixed;
	width: var(--sideNavWidth);
	left: calc(0px - var(--sideNavWidth));
	top: 0;
	bottom: 0;
	overflow: visible;
	z-index: 21;
	transition: left .25s ease-out;
}

.side-menu-active #side_nav{
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, .15);
	left: 0;
	max-width: 100vw;
}

.side-menu-active #side_nav #nav_side_toggle{
	right: 0;
	z-index: 1;
	box-shadow: none;
}

#side_nav.right{
	left: auto;
	right: calc(0px - var(--sideNavWidth));
	transition: right .25s ease-out;
}

#side_nav.right .nav-btn{
	right: auto;
	left: -44px;
}

.top-menu-active #side_nav.right .nav-btn{
	display: none;
}

.side-menu-active #side_nav.right{
	right: 0;
}

.side-menu-active #side_nav.right #nav_side_toggle{
	right: auto;
	left: 0;
}

#side_nav .side-nav{
	height: 100%;
	padding: 2.5em var(--sideNavPX);
	overflow-x: auto;
	position: relative;
	z-index: 1;
}

#side_nav .side-nav > * + *{
	margin-top: 2em;
}

#side_nav .meta,
#side_nav .social-links{
	display: block;
}

#side_nav .icon-inline{
	display: flex;
	align-items: flex-start;
	line-height: 1.4;
	margin: .8em 0;
}

#side_nav .nav-btn{
	background: var(--colorLight) !important;
	opacity: 1;
	position: absolute;
	right: -44px;
	top: 0;
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, .15);
}

#side_nav .nav-btn#nav_side_close{
	box-shadow: none;
	right: 0;
	z-index: 1;
	margin: 0;
}

#side_nav.right .nav-btn#nav_side_close{
	left: auto;
}

#side_nav.has-toggler ~ * .header .container-fluid,
#side_nav.has-toggler ~ * .toplogo .container-fluid,
#side_nav.has-toggler ~ * .topline .container-fluid{
	padding-left: 44px;
}

#side_nav.has-toggler.right ~ * .header .container-fluid,
#side_nav.has-toggler.right ~ * .toplogo .container-fluid,
#side_nav.has-toggler.right ~ * .topline .container-fluid{
	padding-right: 44px;
	padding-left: 0;
}

@media screen and (max-width: 1279px) {
	#side_nav.has-toggler ~ * .header .container,
	#side_nav.has-toggler ~ * .toplogo .container,
	#side_nav.has-toggler ~ * .topline .container{
		padding-left: 44px;
	}

	#side_nav.has-toggler.right ~ * .header .container,
	#side_nav.has-toggler.right ~ * .toplogo .container,
	#side_nav.has-toggler.right ~ * .topline .container{
		padding-right: 44px;
		padding-left: 0;
	}
}

#side_nav .logo.no-image .logo-text{
	margin: 0;
}

@media screen and (min-width: 1280px) {
	#side_nav.sticked{
		left: 0;
	}

	#side_nav.sticked.header-sticked-shadow{
		box-shadow: 0 0 20px 0 rgba(100, 100, 100, .15);
	}

	#side_nav.sticked.header-sticked-border{
		border-right: 1px solid var(--colorBorder);
	}

	#side_nav.sticked.header-over-side-nav #nav_side{
		padding-top: 6em;
	}

	#side_nav.sticked.header-over-side-nav ~ * .topline,
	#side_nav.sticked.header-over-side-nav ~ * .toplogo,
	#side_nav.sticked.header-over-side-nav ~ * #header{
		margin-left: calc(0px - var(--sideNavWidth));
		z-index: 23;
	}

	#side_nav.sticked.header-over-side-nav ~ * #header.affix,
	#side_nav.sticked.header-over-side-nav ~ * #header .topline{
		margin-left: 0;
	}

	#side_nav.sticked ~ *{
		margin-left: var(--sideNavWidth);
	}

	#side_nav.sticked ~ * #header.affix{
		margin-left: var(--sideNavWidth);
	}

	#side_nav.sticked ~ * #nav_side_toggle{
		display: none;
	}

	#side_nav.sticked ~ [id*=wpadminbar]{
		margin: 0;
	}

	#side_nav.sticked .nav-btn{
		display: none;
	}

	#side_nav.sticked.right{
		left: auto;
		right: 0;
	}

	#side_nav.sticked.right.header-sticked-border{
		border-right: none;
		border-left: 1px solid var(--colorBorder);
	}

	#side_nav.sticked.right ~ *{
		margin-left: inherit;
		margin-right: var(--sideNavWidth);
	}

	#side_nav.sticked.right ~ * #header.affix{
		margin-left: inherit;
		margin-right: var(--sideNavWidth);
	}

	#side_nav.sticked.right.header-over-side-nav ~ * #header{
		margin-right: calc(0px - var(--sideNavWidth));
		z-index: 23;
	}

	#side_nav.sticked.right.header-over-side-nav ~ * #header.affix{
		margin-right: 0;
	}
}

#side_nav .widget_nav_menu .widget-title{
	display: none;
}

@media screen and (min-width: 1280px) {
	.side-nav-sticked .alignfull{
		width: calc(100vw - var(--sideNavWidth));
		left: calc(50% + var(--sideNavWidth) / 2);
	}

	.side-nav-sticked .alignfull img{
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	#header .container #nav_side_toggle:first-child,
	#header .container #nav_side_toggle:first-child{
		margin-left: -10px;
	}
}